h1{
	text-align: center;
	color:white;
	margin-bottom:60px;
}
body{
	background-color:black;
    color: white;
    overflow: auto;
    text-align: center;
   
    padding-0;

}
.momo:hover, .chilli:hover, .pizza:hover{
	color:black;
}
*
{
	border-sizing:border-box;
}

.momo{
     background-color: gray;

     margin: 30px;
     margin left-0;
     width:60px;
     border:20px;
     padding: 30px;
     position:relative;
     padding-color:white;

}
.chilli{
     background-color: gray;
     margin:10px;
     width:33.33%;
     border:20px;
     padding: 30px;
     position:relative;
     padding-color:white;

}
.pizza{
     background-color: gray;
     margin:30px;
     width:60px;
     border:20px;
     padding: 30px;
     padding-color:white;

}
@media(max-width: 956px)
{
	
	.pizza{
		position: absolute;
		margin-top:40px;
		right:90px
		top:150px;

		
	}
}