h{
	margin-left: 50%;
	margin-bottom: 150px;
	border-bottom: 350px;
	padding: 
	text-align: center;
	font-style: bold;
	font-family: times new roman, serif;
	color: gray;
	font-size: 24px;

}
body
{
	background-color: black;
}
*
{
	box-sizing: border-box;;
}
#box
{
	background-color: gray;
}
.momo{
	font-size: 18;
	margin:20px;
	border:20px;
	border-color: green;

	padding:20px;
	width:300px;
	color: white;

}
.pizza{
	font-size: 18;
	margin:20px;
	border:20px;
	border-color: green;

	padding:20px;
	width:300px;
	color: white;
}
.chilli{
    ont-size: 18;
	margin:20px;
	border:20px;
	border-color: green;

	padding:20px;
	width:300px;
	color: white;
}
